<% content_for :page_title do %>
    <%= Spree.t 'adv_report.' + @report.name.downcase %> &middot;
    <small><%= @report.description %></small>
<% end %>

<% content_for :page_actions do %>
    <li><%= link_to_with_icon 'icon-arrow-left', Spree.t(:back_to_reports_list), spree.admin_reports_url, :class => 'button' %></li>
<% end %>

<% content_for :sidebar_title do %>
    <% Spree.t(:report_details) %>
<% end %>

<% content_for :sidebar do %>
    <nav class="menu">
      <ul class="show_data">
        <%= content_tag :li do %>
            <label><%= @report.params['search']['completed_at_gt'].strftime('%m-%d-%Y') %></label>
        <span class="range-divider">
          <i class="icon-arrow-right"></i>
        </span>
            <label><%= @report.params['search']['completed_at_lt'].strftime('%m-%d-%Y') %></label>

            <div class="links">
              <%= link_to_with_icon 'icon-tasks', Spree.t(:csv), @report.download_url(request.fullpath, 'csv', 'all') %>
            </div>
        <% end %>
      </ul>
    </nav>
<% end %>

<% if @report.taxon_text || @report.product_text %>
    <% content_for :sidebar_title do %>
        <% Spree.t(:report_details) %>
    <% end %>

    <% content_for :sidebar do %>
        <nav class="menu">
          <ul class="show_data">
            <%= content_tag :li do %>
                <%= raw @report.taxon_text %>
            <% end %>
            <%= content_tag :li do %>
                <%= raw @report.product_text %>
            <% end %>
          </ul>
        </nav>
    <% end %>
<% end %>

<%= render :partial => 'spree/admin/reports/advanced_report_criteria', :locals => {} %>

<%= raw @report.ruportdata.to_html %>
